@import "colors.css";

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font Propo", "Rubik", "Noto Sans CJK JP", "Noto Sans CJK KR";
  font-size: 17px;
}

window#waybar {
  color: #e8e8e8;
}

tooltip {
  background: #111111;
  color: #e8e8e8;
  padding: 8px 14px;
  background: rgba(0, 0, 0, 0.5);
}

/* ── LEFT ── */
#workspaces {
  background: #111111;
  padding: 0 6px;
  color: #e8e8e8;
  margin: 5px 4px 5px 8px;
}

#workspaces button {
  color: #888888;
  padding: 4px 12px;
  background: transparent;
  transition: all 150ms ease-in-out;
  min-width: 24px;
}

#workspaces button:hover {
  background: #1f1f1f;
  color: #ffffff;
}

#workspaces button.active {
  background: #222222;
  color: #ffffff;
  min-width: 32px;
  font-weight: 700;
  border-bottom: 2px solid #ffffff;
}

#workspaces button.empty {
  color: #444444;
}

#bluetooth {
  color: #aaaaaa;
  padding: 4px 16px;
  margin: 5px 2px;
  background: #111111;
  transition: all 150ms ease-in-out;
}

#bluetooth.connected {
  color: #e8e8e8;
}

#bluetooth.disabled,
#bluetooth.off {
  color: #444444;
}

#bluetooth:hover {
  background: #1f1f1f;
  color: #ffffff;
}

/* ── CENTER ── */
#custom-mpris {
  color: #cccccc;
  padding: 4px 18px;
  background: #111111;
  margin: 5px 2px;
  font-size: 15px;
  transition: all 150ms ease-in-out;
}

#custom-mpris:hover {
  background: #1a1a1a;
  color: #ffffff;
}

#custom-mpris.playing {
  color: #cccccc;
  border-bottom: 2px solid #e97c00;
}

#custom-mpris.paused {
  color: #555555;
}

#custom-mpris.stopped,
#custom-mpris.disconnected {
  color: #333333;
}

/* ── RIGHT ── */
#pulseaudio,
#network,
#clock {
  color: #e8e8e8;
  padding: 4px 18px;
  background: #111111;
  margin: 5px 2px;
}

#pulseaudio.muted {
  color: #444444;
}

#clock {
  font-weight: 500;
}

#custom-power {
  color: #ffffff;
  padding: 4px 18px;
  background: #111111;
  margin: 5px 8px 5px 2px;
  font-size: 20px;
}

#custom-power:hover {
  background: @blue;
}

#memory {
  background: #111111;
  margin: 5px 2px;
  font-size: 16px;
  color: #e97c00;
  padding: 4px 14px;
}

#custom-cava {
  color: #f9f9f9;
  padding: 4px 18px;
  background: #111111;
  margin: 5px 8px 5px 2px;
  font-size: 20px;
  min-width: 100px;
}

#cpu {
  color: #e97c00;
  padding: 4px 18px;
  background: #111111;
  margin: 5px 8px 5px 2px;
  font-size: 20px;
}

#custom-gpu {
  color: #e97c00;
  padding: 4px 18px;
  background: #111111;
  margin: 5px 8px 5px 2px;
  font-size: 20px;
}